$bgColor = rgba(96, 101, 128, 1);
$bgColor-data = rgb(84, 164, 219);
$fontColor-off = rgba(255, 255, 255, .5);
$fontColor-on = rgba(255, 255, 255, 1);
$borderColor = grey
$barHeight = 100px
$barWidth = 30px
$bgColor-active = rgba(84, 164, 219, 0.1)

